* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 80%;
    margin: 0 auto;
}

ul, li {
    list-style: none;
}

a {
    text-decoration: none;
}

body {
    font-size: 14px;
}

:root {
    --black: #2C2830;
    --gray: #837D88;
    --dark-blue: #2D2641;
    --cyan: #96A9C6;
    --font-karla: "Karla", sans-serif;
    --DM-serif: "DM Serif Display", serif;
}