* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 80%;
    margin: 0 auto;
}

ul, li {
    list-style: none;
}

a {
    text-decoration: none;
}

body {
    font-size: 14px;
}

:root {
    --black: #2C2830;
    --white: #fff;
    --gray: #837D88;
    --dark-blue: #2D2641;
    --cyan: #96A9C6;
    --font-karla: "Karla", sans-serif;
    --DM-serif: "DM Serif Display", serif;
}


/* HEADER STYLE */

#header {
    position: fixed;
    width: 100%;
    height: 80px;
    background-color: var(--white);
    display: flex;
    align-items: center;
    z-index: 3;
}

.header_content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav {
    display: flex;
    align-items: center;
}

.nav-link, .nav-btn {
    margin-left: 1rem;
}

.nav-link {
    text-transform: uppercase;
    letter-spacing: 1px;
    color: var(--gray);
    font-family: var(--font-karla);
    font-weight: 500;
}

.nav-btn {
    color: var(--black);
    text-transform: uppercase;
    border: 2px solid var(--black);
    font-family: var(--font-karla);
    padding: 12px 2rem;
}

#menu{
    display: none;
}

/* HOME STYLE */



#home {
    height: 100vh;
    width: 100%;
    padding-top: 80px;
    position: relative;
    margin-bottom: 14rem;
}

.home-bg-block {
    height: 600px;
    width: 100%;
    background-color: var(--dark-blue);
    position: relative;
}

.home-content {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding-top: 95px;

}

.home-content-img {
    width: 540px;
    height: 650px;;
}

.home-content-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.home-content-text {
    width: calc(100% / 2);
    height: 100%;
    color: var(--white);
}

.line {
    width: 150px;
    height: 1px;
    background-color: var(--white);
    margin-bottom: 2rem;
}

.home-content-text-block h1 {
    font-family: var(--DM-serif);
    font-size: 72px;
    font-weight: 400;
    line-height: 64px;
    letter-spacing: -1px;
}

.home-content-text-block p {
    font-family: var(--font-karla);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    padding: 1rem 0;
}

.home-content-text-btn {
    color: var(--white);
    text-transform: uppercase;
    background: none;
    border: 1px solid var(--gray);
    width: 146px;
    height: 40px;
    font-family: var(--font-karla);
    font-size: 13px;
    font-weight: 700;
    line-height: 15.2px;
    letter-spacing: 1.5px;
    text-align: center;
}

.home-outside-img2 {
    position: absolute;
    right: 0;
    top: 0;
}

.home-outside-img1 {
    position: absolute;
    bottom: -370px;
    left: 0;
    z-index: 1;
}



/* BLOG STYLE */

#blog {
    margin-bottom: 10rem;
}

.blog-content {
    display: flex;
    flex-direction: column;

}

.blog-content-line {
    width: 165px;
    height: 1px;
    background-color: #C396C6;
    margin-bottom: 3rem;
}

.blog-content h1 {
    font-family: var(--DM-serif);
    font-size: 72px;
    font-weight: 400;
    line-height: 64px;
    letter-spacing: -1px;
    margin-bottom: 6rem;
}

.blog-content-items {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
}

.blog-content-items-item {
    width: calc(1110px / 3);
}

.blog-content-items-item h3 {
    font-family: var(--DM-serif);
    font-size: 28px;
    font-weight: 400;
    line-height: 38.39px;
    letter-spacing: -0.39px;
    margin: 1rem 0;
}

.blog-content-items-item p {
    font-family: var(--font-karla);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    color: var(--gray);
}

.blog-content-items-item img {
    width: 86px;
    height: 86px;
}


/* HOW WE WORK STYLE */

#we-work {
    margin-bottom: 10rem;
}

.we-work-content {
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;
    overflow: hidden;
    height: 250px;
    background-color: var(--dark-blue);
}

.we-work-content img {
    position: absolute;
    right: 0;
}

.we-work-content h1 {
    color: var(--white);
    font-family: var(--DM-serif);
    font-weight: 400;
    font-size: 56px;
    line-height: 56px;
    letter-spacing: -0.78px;
}

.we-work-content-btn {
    width: 160px;
    height: 40px;
    color: var(--white);
    font-family: var(--font-karla);
    font-weight: 700;
    font-size: 13px;
    line-height: 15.2px;
    letter-spacing: 1.5px;
    text-align: center;
    background: none;
    border: 1px solid var(--white);
    z-index: 3;
}


/* FOOTER STYLE */

#footer {
    padding: 5rem 0 4rem 0;
    background-color: #FAFAFA;
    position: relative;
}

.footer-content {
   display: flex;
   flex-direction: column;
}

.footer-line {
    width: 100%;
    height: 1px;
    background-color: #DADADA;
    margin: 3rem 0 4rem 0;
}

.footer-content-icons {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer-content-icons > img {
    z-index: 2;
}

.footer-content-icons-icon svg {
    margin-left: 1rem;
}

.footer-content-links {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-right: 10rem;
}

.footer-content-links-block h3 {
    font-family: var(--font-karla);
    font-weight: 700;
    font-style: 13px;
    line-height: 15.2px;
    letter-spacing: 1.5px;
    color: var(--gray);
    margin-bottom: 2rem;
}

.footer-content-links-block li a {
    font-family: var(--font-karla);
    font-weight: 700;
    font-size: 13px;
    line-height: 15.2px;
    letter-spacing: 1.5px;
    color: var(--dark-blue);
}

.footer-content-links-block li {
    margin-bottom: 1rem;
}

#footer > img {
    position: absolute;
    top: 0;
}



/* ACTIVE STYLE */

button:hover {
    cursor: pointer;
}

/* HEADER ACTIVE STYLE */

.nav-btn:active {
    background-color: var(--dark-blue);
    color: var(--white);
}

.nav-link:active {
    color: var(--black);
}

/* HOME ACTIVE STYLE */

.home-content-text-btn:active {
    background-color: var(--white);
    color: var(--black);
}

/* HOW WE WORK STYLE */

.we-work-content-btn:active {
    background-color: var(--white);
    color: var(--black);
}

/* FOOTER ACTIVE STYLE */

svg:active path {
    fill: var(--black);
}

.footer-content-links-block li a:active {
    border-bottom: 1px solid var(--black);
}


/* MEDIA QUERY STYLE */



/* MEDIA QUERY MAX-WIDTH: 992px */

@media (max-width: 992px) {
    #home {
        margin-bottom: 6rem;
    }

    .home-content-text {
        padding-right: 2rem;
        z-index: 3;
    }

    .home-content-text-block h1 {
        font-size: 62px;
    }

    .home-content-img {
        height: 100%;
    }

    .home-content-img img {
        object-fit: contain;
        width: 100%;
    }

    .home-outside-img1 {
        width: 18%;
        bottom: -170px;
    }

    .home-outside-img2 {
        width: 30%;
    }

    .blog-content-items {
        gap: 1rem;
    }
}



/* MEDIA QUERY MAX-WIDTH: 876px */


@media (max-width: 876px) {
    #home {
        margin-bottom: 0;
    }

    .home-content-text {
        padding-right: 2rem;
    }

    .home-content-text-block h1 {
        font-size: 55px;
    }

    .home-outside-img1 {
        width: 18%;
        bottom: -70px;
    }

    .home-content-img {
        height: 100%;
    }

    .home-content-img img {
        object-fit: contain;
        width: 100%;
    }

    .blog-content-items {
        gap: 2rem;
    }

    .blog-content-items-item {
        width: 100%;
    }

    .blog-content h1 {
        font-size: 62px;
    }

    .we-work-content h1 {
        font-size: 40px;
    }
}


/* MEDIA QUERY MAX-WIDTH: 768px */

@media (max-width: 768px) {
    .home-content-text-block h1 {
        font-size: 45px;
    }

    #footer > img {
        width: 46%;
    }

    .footer-content-links {
        margin-right: 0;
    }
}


/* MEDIA QUERY MAX-WIDTH: 576px */

@media (max-width: 576px) {
    .nav {
        display: none;
    }

    #menu {
        display: block;
    }

    #home {
        height: 180vh;
        background-color: var(--dark-blue);
        margin-bottom: 5rem;
    }

    #home .container{
        width: 100%;
    }

    .home-content {
        padding: 0;
    }

    .home-content-text {
        text-align: center;
        width: 100%;
        padding: 0 5rem;
    }

    .line {
        display: none;
    }

    .home-content-img {
        width: 100%;
    }

    .home-content-text-block {
        margin-top: 3rem;
    }
    .home-content-text-block h1{
        font-size: 55px;
    }

    .home-outside-img1,
    .home-outside-img2 {
        display: none;
    }

    .home-content {
        flex-direction: column-reverse;
    }

    .blog-content{
        text-align: center;
    }

    .blog-content-line{
        margin: 0 auto;
        margin-bottom: 3rem;
    }

    .we-work-content{
        flex-direction: column;
        text-align: center;
    }

    #footer {
        padding-bottom: 0;
    }

    .footer-content-icons {
        flex-direction: column;
        align-items: center;
    }

    .footer-content-icons-icon{
        margin-top: 2rem;
    }

    .footer-content-icons > img {
        margin-left: 1rem;
    }

    .footer-content-links{
        flex-direction: column;
        align-items: center;
    }

    .footer-content-links-block{
        text-align: center;
        margin-bottom: 3rem;
    }

}
